.dest {
  display: block;
}

.dest__form {
  display: block;
}

.dest__info {
  display: block;
}

.dest__info__title {
  display: block;
}

.dest__budget {
  display: block;
}

.dest__budget__total {
  display: block;
}

.dest__budget__daily {
  display: block;
}
